header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
nav ul {
    font-family: 'Segoe UI';
    display: flex;
    flex-direction: row;
}
nav ul li {
    font-family: "SourceSansPro";
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    height: 4em;
    width: 10em;
    cursor: pointer;
    overflow-x: hidden;
    color: white;
    background:#994587;
    border-right: #813873 solid 2px;
    border-left: #813873 solid 2px;
}
nav ul li:first-of-type {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right: #813873 solid 2px;
    border-left: none;
}
nav ul li:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: #813873 solid 2px;
    border-right: none;
}
nav ul li::before, nav ul li::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing:border-box;
    transform: scale(0);
    transition: 0.5s;
}
nav ul li::before {
    border-top: 3px solid #028f5d;
    border-left: 3px solid #028f5d;
    transform-origin: 0 0;
}
nav ul li::after {
    border-bottom: 3px solid #028f5d;
    border-right: 3px solid #028f5d;
    transform-origin: 100% 100%;
}
nav ul li:first-of-type::before {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
nav ul li:last-of-type::after {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
nav ul li:hover::before, nav ul li:hover::after {
    transform: scale(1);
}
nav ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 4;
    color: white;
}
nav ul li:hover a {
    color: #994587;
}
nav ul li:hover {
    background: white;
}
nav ul li:first-of-type:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
nav ul li:last-of-type:hover {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav-toggle {
    display: none;
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background: #028f5d;
    cursor: pointer;
}
.nav-toggle span {
    display: block;
    position: absolute;
    top: 19px;
    left: 8px;
    right: 8px;
    height: 2px;
    background: white;
}
.nav-toggle span:before, .nav-toggle span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}
.nav-toggle span:before {
    top: -10px;
}
.nav-toggle span:after {
    bottom: -10px;
}
#menu.active {
    flex-direction: column;
    max-height: 250px;
}
#menu.active li {
    width: 100%;
}

@media (max-width: 768px) {
    .nav-toggle {
        display: block;
    }
    header {
        padding: 10px 0;
    }
    #menu {
        max-height: 0;
        background: white;
        float: none;
        position: absolute;
        overflow: hidden;
        top: 63px;
        right: 0;
        left: 0;
        margin: 0;
        padding: 0;
        z-index: 3;
    }
    #menu li {
        text-align: center;
        border-bottom: 1px solid #EBEBE3;
        margin-right: 0;
        border-radius: 0;
    }
    #menu li:last-of-type {
        border-bottom: none;
    }
    #menu.active {
        margin-top: 5em;
    }
    nav ul li:first-of-type::before {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    nav ul li:last-of-type::after {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    nav ul li:first-of-type:hover {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    nav ul li:last-of-type:hover {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}
 
@media (max-width: 480px) {
    .logo {
       float: none;
       margin: 0 auto 15px;
       display: table;
    }
    .logo span {
       margin: 0 2px;
    }
    #menu {
       top: 118px;
    }
    #menu.active {
        margin-top: 2em;
    }
}