* {
    transition: 0.7s ease-in-out;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    justify-content: stretch;
    align-items:stretch;
    height: 50px;
    min-width: 50px;
    width: auto;
    margin-top: 100%;
    border: 2px solid blue;
    border-radius: 25px;
}
form:hover {
    transform: scale(1.2);
}
.glass {
    cursor: pointer;
    position: relative;
    width: 25px;
    height: 25px; 
    box-sizing: border-box;
    background-color: aliceblue;
    
    border: 4.5px solid blue;
    border-radius: 50%;
    transform: translateX(40%) translateY(40%);
}
.glass:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    
    width: 15px;
    height: 5px;
    background-color: blue;
    
    border-radius: 0 3px 3px 0;
    
    transform-origin: 0 50%;
    transform: translateX(100%) rotate(45deg);
}
input {
    display: none;
    position: relative;
    margin-left: 2em;
    border: none;
    outline: none;
    width: 250px;
    height: 50px;
}
input::-ms-clear {
    display: none;
    width : 0;
    height: 0;
}
input::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

.close {
    cursor: pointer;
    display: none;
    position: relative;
    right: -5px;
    top: 17px;
    width: 20px;
    height: 20px;
    opacity: 0.4;
}
.close:before, .close:after {
    position: absolute;
    left: 0;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: gray;
}
    .close:before {
    transform: rotate(45deg);
}
    .close:after {
    transform: rotate(-45deg);
}
@media screen and (max-width: 520px) {
    form {
        max-width: 80vw;
        max-height: 70vh;
    }
}
@media screen and (min-width: 1921px) {
    form {
        transform: scale(2);
    }
}