div {
    margin-top: 25%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button {
    position: relative;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: gray;
    cursor: pointer;
    box-shadow: 5px 5px 15px gray;
}
.button-one {
    background: radial-gradient(at center, rgb(229, 161, 243), rgb(142, 182, 241));
    color: white;
    transition: all 0.9s ease-in;
}
.button-one:hover {
    background: radial-gradient(at center, rgb(142, 182, 241), rgb(229, 161, 243));
    color: black;
}

.button-two {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 100%;
    background: linear-gradient(rgb(194, 88, 17), rgb(235, 139, 61));
    color: white;
    box-shadow: 5px 5px 15px gray;
    transition: 0.5s ease-in-out;
}
.button-two::before, .button-two::after {
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing:border-box;
    transform: scale(0);
    transition: 0.5s;
}
.button-two::before {
    border-top: 3px solid rgb(194, 88, 17);
    border-left: 3px solid rgb(194, 88, 17);
    transform-origin: 0 0;
}
.button-two::after {
    border-bottom: 3px solid rgb(194, 88, 17);
    border-right: 3px solid rgb(194, 88, 17);
    transform-origin: 100% 100%;
}
.button-two:hover::before, .button-two:hover::after {
    transform: scale(1);
}
.button-two:hover {
    border-radius: 0;
    background:whitesmoke;
    color: rgb(194, 88, 17);
}

.button-three {
    overflow-x: hidden;
    color: white;
    background:rgb(226, 63, 117);
}
.button-three::after {
    overflow: hidden;
    content: '';
    position: absolute;
    top: 0;
    transform: skewX(-45deg);
    height: 100%;
    width: 45px;
    left: -50%;
    transition: 1.5s ease;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.562));
}
.button-three:hover::after {
    left: 150%;
}

.button-four {
    opacity: 1;
    outline: 1;
    position: relative;
    display: inline-block;
    color: white;
    background:royalblue;
}
.button-four::before {
    border-radius: 5px;
    top: 0;
    left: 0;
    opacity: 1;
    color: white;
    display: block;
    transition: 1s;
    position: relative;
    background:royalblue;
    content: 'Кнопка 4';
    transform: translateY(0) rotateX(0);
}
.button-four::after {
    border-radius: 5px;
    line-height: 50px;
    top: 0;
    left: 0;
    opacity: 0;
    height: 100%;
    width: 100%;
    color: white;
    display: block;
    transition: 1s;
    position: absolute;
    background:rgb(65, 214, 225);
    content: 'Click!';
    transform: translateY(-50%) rotateX(90deg);
}
.button-four:hover::after {
    opacity: 1;
    transform: translateY(0) rotateX(0);
}
.button-four:hover::before {
    opacity: 0;
    transform: translateY(50%) rotateX(90deg);
}

.button-five {
    position: relative;
    z-index: 1;
    overflow-x: hidden;
    color: white;
    background: orange;
    transition: 1s;
}
.button-five span {
    position: relative;
    z-index: 2;
    transition: 1s;
    color:white;
}
.button-five:hover span {
    color: black;
}

.button-five:after {
    border-radius: 5px;
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    left: 0;
    top: 100%;
    transition: 1s;
    background: linear-gradient(to right, rgba(255, 255, 0), rgba(218, 178, 48))
}
.button-five:hover::after {
    top: 0;
    height: 100%;
}
